@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    color: white;
    background-color: #121212;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}



header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #3d3d3d;
  height: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}


ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li{
  color: black;
}


header nav a {
  font-size: 20px;
  line-height: 1.5;
}



nav a {
  text-decoration: none;
  color: #ffffff;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #fefefe;
  border-radius: 10px;
  color: black;
}

.active a {
  background-color: #000000;
  color: #fff;
  border-radius: 10px;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li a {
  margin-bottom: 10px;
  color: white;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.active a {
  background-color: #000000;
  color: #fff;
  border-radius: 10px;
}

body .mobile-menu {
  background-color: #2e2e2e;
  transition: background-color 0.2s ease-in-out;
  z-index: 9999;
  color: black;
}


.burger-active a {
  background-color: #000000;
  color: #000000;
  border-radius: 3px;
  transition: background-color 0.2s ease-in-out;
}

.AJB{
    font-size: 55px;
    font-style:oblique;
    font-weight: bold;    
}

.Joshua-Headshot{
    width: 450px;
    height: 450px;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.small-about{
   font-size: 30px;
   padding-right: 5%;
   padding-left: 1%;
}

.MAB-Text{
    font-size: 50px;
}

.large-about{
    font-size: 25px;
    padding-right: 5%;
}

.SL{
    font-size: 50px;
}

.Logo_YT{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-left: 1%;
    border-style: solid;
    border-color: white;
}

.Logo_X{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-left: 1%;
    border-style: solid;
    border-color: white;
}

.button-container {
    display: inline-block;
    text-align: center;
    margin: 0 10px;
  }

.YT_Link{
  color: red;
}

table {
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 10px;
  display: flex;
}

.MyFavVids{
  text-decoration: underline;
}

.OtherPerFav{
  text-decoration: underline;
}

.centered-iframe {
  text-align: center;
}

.white-links{
  color: white;
}

.About_Table {
  display: flex;
  align-items: center;
}

.TH_JB_HS {
  flex: 0 0 10%;
}

.small-about {
  flex: 1;
}

@media (max-width: 768px) {
  .About_Table {
    flex-direction: column;
  }

  .TH_JB_HS {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .Dream_Cars {
    flex-direction: column;
  }

  .TH_JB_HS {
    width: 100%;
  }
}
.car-name{
  font-size: 30px;
  padding-right: 5%;
  padding-left: 1%;
}
.Average-Price{
  font-size: 25px;
  padding-right: 5%;
  padding-left: 4%;
  color: green;
}
.Bugatti-Image{
width: 50%;
height: 50%;
border-radius: 10px;
}
.Lamborghini-Revuelto-Image{
  width: 50%;
  height: 50%;
  border-radius: 10px;
}
.Lamborghini-Huracan-Tecnica-Image{
  width: 50%;
  height: 50%;
  border-radius: 10px;
}
.Rolls-Royce-Phantom-Image{
  width: 50%;
  height: 50%;
  border-radius: 10px;
}
.McLaren-765LT-Image{
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.easter-egg-link{
  text-decoration: none;
  color: white;
}

.contact-me-link{
  color: white;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
}

.video-item {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.video-header {
  margin: 0 auto;
  padding: 10px;
  font-weight: bold;
}

.video-item iframe {
  flex: 1 1 auto;
}

@media (max-width: 768px) {
  .video-item iframe {
    max-width: 100%;
  }
}
